body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}
h3{
  color: rgb(17, 9, 9);
}
.title{
  color:#555;
}
i{
  color:rgb(27, 160, 218);
}

.navbar .item {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 500px) {
  .navbar .item {
    float: none;
    display: block;
  }
}